@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms

.App {
  text-align: center;
}

.App-header {
  background-color: #111827;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}